*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
button{
    display: flex;
    align-items: center;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
}
.container{
    margin: 0 10%;
}
header .nav-bar{
    display: flex;
    justify-content: space-between;
}
.menu-bar ul{
    display: flex;
    align-items: center;
}
.menu-bar ul li{
    list-style: none;
}

header .header-description{
    margin-top: 15%;
    width: 40%;
}
header .header-description > h4, h1, p{
    margin-bottom: 2.5%;
}
header .header-btn{
    display: flex;
    gap: 5%;
}