*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
button{
    display: flex;
    align-items: center;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
}
.container{
    margin: 0 10%;
    color: black;
}
a{
    text-decoration: none;
}
header{
    background: #FFF8F3;
    background-image: url(images/header_bg.png), url(images/developer.png);
    background-repeat: no-repeat;
    background-position: right bottom, 1% top;
    background-size: 55%, contain;
}
header .title > h1{
    font-weight: 800;
    font-size: 45px;
}
header .secondary-text{
    color: #FD6E0A;
}
header .nav-bar{
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
}
.menu-bar ul{
    display: flex;
    align-items: center;
    gap: 50px;
}
.menu-bar ul li{
    list-style: none;
}
.menu-bar ul li > a{
    font-weight: 400;
    font-size: 20px;
    color: #474747;
}
header .banner-content{
    display: flex;
    align-items: center;
}

header .header-description .description-content > h4, h1, p{
    margin-bottom: 2.5%;
}
header .header-btn{
    display: flex;
    gap: 5%;
}

.description-img{
    max-width: 584px;
    min-width: 84px;
    max-height: 676px;
    min-height: 76px;
    margin-top: 5%;
    margin-bottom: 0;
}